<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.littledannyha.split"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name="com.notMyCode.OCRActivity"
            android:label="@string/title_activity_ocr"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.notMyCode.ResultsActivity"
            android:label="@string/title_activity_results"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.notMyCode.AsyncProcessTask"
            android:label="@string/title_activity_async_process_task"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        -->
        <activity
            android:name=".PhotoActivity"
            android:label="@string/title_activity_photo"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SortActivity"
            android:label="@string/title_activity_sort"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".NumPeopleActivity"
            android:label="@string/title_activity_num_people"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ConfirmItemsActivity"
            android:label="@string/title_activity_confirm_items"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SummaryActivity"
            android:label="@string/title_activity_summary"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ChargesActivity"
            android:label="@string/title_activity_charges"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
